# Node.js dependencies
node_modules/

# Environment variables
.env

# Downloaded profiles
profiles/
*obsidian

# Logs
logs/
*.log
npm-debug.log*

# OS specific files
.DS_Store
Thumbs.db
bin/
lib/
lib64/
include/
